@use './variables';

*, *::after, *::before {
  box-sizing: border-box;
}

p, h1, h2, h3, ul {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.6rem;
  color: variables.$black;
  background-color: #f4f1ea;
  height: 100%;
  background-image: radial-gradient(circle at top right, variables.$secondary-color 200px, transparent 200px),
                    radial-gradient(circle at bottom left, variables.$primary-color 200px, transparent 200px);
  background-repeat: no-repeat;
  background-size: 400px 400px, 400px 400px;
   background-position: top right, bottom left;
}

.container {
  padding: 32px 12px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    padding: 40px 40px;
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 980px;
  }
}

.wrap {
  flex: 1; 
  padding: 16px 12px;
  background: #FFFFFF;
  box-shadow: 0 0 0 2px #F8D45A, 0 0 0 6px #FFFCEF, 0 2px 20px 0 rgba(0,0,0,0.15);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}